.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artworks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1600px;
  gap: 20px;
  padding: 20px;
  margin: 24px 0;
}
